@import "tailwindcss";

@theme {
  --color-custom-bg: #fcfcfc;
  --color-primary: #026c99;
  --color-primary-hover: #02577c;
  --color-text-header: #202224;
  --color-text-body: #575757;

  --font-poppins: var(--font-poppins);
  --font-inter: var(--font-inter);
}

:root {
  --background: #fcfcfc;
  --foreground: #575757;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-poppins), sans-serif;
  color: #202224;
}

/* Hide default browser password reveal button (Edge/IE) */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

